/*
Copyright Netgalleria Oy, Olli Rinne 2022
*/
body {
    background-color: #1a1e15;
    margin: 1.8em;
    font-size: 20px;
    font-family:  Helvetica, Arial, sans-serif;
    color: #f7f7e6
}

p {
    font-size: 1.8em;
    color: #b8b89d
}

  

.code {
    max-width: 250px;
}

.btn {
    background-color: #f7f7e6;
}

form,
#fld,
input {
    width: 100%;
}

input[type="text"],
input[type="password"],
textarea,
select,
input[type=checkbox] {
    background-color: #404040;
    color: #f7f7e6;
    border-color: #404040
}

input[type=submit],button,.actBtn{
    background-color: #7b7979;
    color: #f7f7e6;
    border-color: #404040;
    padding: 10px 20px;

display: inline-block;
border: 2px solid #444;
border-radius: 4px;
min-width: 15em;
}


h3 {
    margin-block-start: 1em;
}

input,
select {
    font-size: 1.8em;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

input[type=submit] {
    margin-top: 30px;
}

input[type=radio] {
    height: 30px;
    width: auto;
}

.inpnum {
    text-align: right;
}

h1,
h2,
h3 {
    clear: both;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f7f7e6;
}

.fld {
    margin-top: 10px;
    margin-left: 10px;
    clear: both;
}

.secbr {
    padding-top: 10px;
    clear: both;
}


.fldh {
    float: left;
    width: 44%;
    margin-right: 2%;
}

.fldshort {
    float: left;
    width: 20%;
    margin-right: 2%;
}
.flda {
    float: left;
    width: auto;
    margin-right: 2%;
}

.fldtiny {
    float: left;
    width: 17%;
    margin-right: 2%;
}

.fldstmt {
    float: left;
    margin-right: 2%;
}
.addstmtb {
    float: left;
    width:fit-content;
}
.indent,#addstmtb {
    margin-left:2em;
    clear:left;
}
.durationsel {
    margin-left:2em;
    clear:left;
    float:left;
}
.schedsel {
    margin-left:1em;
    float:left;
    clear:right;
}
.chlink {
    color:#f3f300;
}
.divstament {
    clear: both;
}

.fldlong {
    float: left;
    width: 70%;
    margin-right: 2%;
}
.smallbtn {
    min-width: fit-content;
    padding: 8px;
    margin: 5px;
}

.rsimp {
    font-size:small;
    width: 7em;
    
}
h1 {
    margin-block-start: 0em;
    margin-block-end: 0.2em;
}
h2 {
    margin-block-start: 0em;

}
*#headdiv {
    color: #f7f7e6;
    text-decoration: none;
    border-bottom: 0px solid;
    margin-bottom: -15px;
  }
  
  #headdiv { margin-top: 0px;
   /* padding-top: 10px;
    padding-bottom: 8px;*/
    padding:15px;}
    
  
  a {
    color: #f7f7e6;
    text-decoration:none;
  }
  .actUrl {color: yellow;}
 
  #headdiv span {
    color: #f7f7e6;
    text-decoration: none;
    
  }
  .warn{font-family: sans-serif, Arial;
    font-size: 1.4em;
color:yellow }

  /* https://markheath.net/post/customize-radio-button-css */
  .radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label, .actBtn {
      display: inline-block;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      font-weight: bolder;
      border: 2px solid #444;
      border-radius: 4px;
      width: fit-content;
      margin:5px;
  }
  .radio-toolbar label:hover {
    background-color: #f7f7e6;
    color: black;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #f3f300;
      color: black;
      border-color: #f7f7e6;
  }

  .msg0 {
    color:green;
  }
  .msg1 {
    color:yellow;
  }
  .msg2 {
    color:red;
  }
  .msg3 {
    color:red;
  }
  .big {
      font-size: larger;
      font-weight: bold;
  }
/*box div */
  .hb {
    margin-top: 25px; padding: 1em;
    background-color: #272a2b;

  }
  .hh3, .hh4 {
    text-align: left;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    color: #ddd;
  }
  .hh3 > span, .hh4 > span {
      margin-left: 20px;
    background-color: #272a2b;  
    box-shadow: #272a2b 11px 0px 0px,
    #272a2b -13px 0px 0px;
  }
  .cht{   
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 14px;
    clear:right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.statusic {height: 1.1em;margin-right:20px}
td {padding: 5px;}
tr:nth-child(even) {background: #373a3b}
tr:nth-child(odd) {background: #181817}
input[type="text"]:disabled {
    color: #dddddd;
  }
.headlogo {height: 80px;margin-right:20px}
.helpUrl {font-size: 30px;}