body {color: #485156;}

html, body{color:#485156;background-color: #f5f5f5;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorStr=#005d85, EndColorStr=#00b595)"; /* IE8-9, ColorZilla Ultimate CSS Gradient Generator uses SVG bg image for IE9 */
background-image:-webkit-linear-gradient(135deg, rgba(0,93,133,1), rgba(0,181,149, .9)); /* Chrome10-25, Saf5.1-Saf6, iOS -6.1, Android -4.3 */
background-image:-moz-linear-gradient(135deg, rgba(0,93,133,1), rgba(0,181,149, .9)); /* Fx3.6-15 */
background-image:-o-linear-gradient(135deg, rgba(0,93,133,1), rgba(0,181,149, .9)); /* Op11.10-12.02 */
background-image:linear-gradient( 135deg, rgba(0,93,133,1), rgba(0,181,149, .9)); /* W3C, Fx16+, Chrome26+, IE10+, Op12.10+, Saf6.1+ */
/*background-image: url("https://preview.keenthemes.com/metronic8/demo2/assets/media/patterns/header-bg.jpg");*/
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 350px;
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% );
}

a {color: #2376DD;text-decoration: none}
a:hover, a:focus {color: #005d85; text-decoration: underline}
a:active {color: #2376DD;}


/* Typography
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {font-family: lato, sans-serif;font-weight: 400;font-style: normal;}

h1.card-title {font-size: 1.5rem; font-weight: 600;letter-spacing: .05rem;color: #005d85}
h5.card-title {font-size: 1.25rem;font-weight: 600;letter-spacing: .05rem;color: #005d85;}
h3.card-title {font-size:  1.15rem; margin-bottom: .5rem}


/* Header & Nav
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
header {border-bottom:1px solid rgba(255,255,255,.5)}
.mobile-menu-icon {width: 1.5rem; height: 1.5rem;color: #fff}
.logotext {font-family: eldwin-script, sans-serif;font-weight: 700;font-style: normal; font-size: 2rem;text-decoration: none;color:#fff}

.mobile-menu {padding-left: 0;list-style: none;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;}

.mobile-menu li a {width: 100%;display: block; padding: .5rem 1rem .5rem 1rem;text-align: left;line-height: 1.5rem;border-bottom: 1px solid;border-bottom-color: rgba(0, 0, 0, 0.13);} 


.nav-pills .nav-link {color:#485156;}
.nav-pills .nav-link:hover {color: #1a171b;}
.nav-pills .nav-link.active {background-color: #00b595;color: #fff;}



/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.logotext {font-size: 2rem}
.app-menu .nav-link {color: #fff;margin:0 .5rem}
.app-menu .nav-link:hover {background-color: rgba(255,255,255,.15);color: #fff;}
.app-menu .nav-link.active {background-color: rgba(255,255,255,.15);color: #fff;}
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.logotext {font-size: 2.25rem}
}


/* Tabs & Cards
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*.tab-content {background-color: #fff}*/
.white-card {background-color: #fff;border-color: #fff;border-radius:0}
.white-card .card-header, .white-card .card-footer {background-color: #fff;border-color: #fff}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.tab-content {margin-top:1rem}
.white-card {border-radius: .625rem;padding: 1rem 1.25rem}    
.white-card .card-body {padding: 1rem 1.25rem} 
.white-card .card-footer {padding: 0 1.25rem .5rem } 
.white-card .card-footer .btn {margin-left:.25rem}    
}

.accordion .card {padding: .75rem}
.accordion .card-title {font-size: 1.15rem;margin-bottom: 0;margin-left: .5rem;}

/* Chart-info
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-info svg {margin-right: .25rem}
.chart-text {font-weight: 600; margin-right: .5rem}
.chart-date, .chart-time,.chart-divider {margin-right: .5rem}


/* Form
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.input-group select {border-radius: 0}

/* Form styles
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-control {color:#000;background-color: #fff}
.form-control:focus, .form-select:focus {border-color: #005d85;  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 4px rgba(0, 93, 133, .25);background-color: #005db71a}
.form-label {margin-bottom: .25rem;margin-left: .25rem;font-weight: 600}
.form-text{ margin-left: .7rem;}
.form-info-text{ padding: 0 .7rem;}
.form-select {line-height: 1.5;color: #1a171b;background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23002649' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");background-repeat: no-repeat;background-position: right .5rem center;border: 1px solid inherit;}

.form-control:disabled, form-control:disabled:focus{box-shadow: none;color: #9b9c9d !important;background-color: #f5f5f5;border-color: #ced4da;opacity: 1}
.form-control[readonly], .form-control[readonly]:focus,.form-select:disabled  {box-shadow: none;color: #9b9c9d !important !important;background-color: #f5f5f5;border-color: #ced4da;opacity: 1}

.input-group-text {background-color: #fff;border-color: #ced4da;color: #485156;}
.form-control {line-height: 1.25}

.form-select.is-invalid, .was-validated .form-select:invalid{border-color: #ff547a;background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff547a'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff547a' stroke='none'/%3e%3c/svg%3e");background-color:#ffdde4}
.form-select.is-invalid:not([multiple]):not([size]){border-color: #ff547a;background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff547a'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff547a' stroke='none'/%3e%3c/svg%3e");background-color:#ffdde4}
.form-control.is-invalid, .was-validated .form-control:invalid {border-color: #ff547a;background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff547a'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff547a' stroke='none'/%3e%3c/svg%3e");background-color:#ffdde4}

.input-group .form-control.is-invalid,.input-group .form-control.is-valid {margin-right: 1px}

.form-control.is-invalid:focus, .form-select.is-invalid:focus {border-color: #ff547a;  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 4px rgba(220, 53, 69, .25);background-color: #ffdde4;color:#000;}
.invalid-feedback {color:#eb3d64;margin-left: .7rem; line-height: 1.3;font-size:.925rem}
.invalid-feedback a {color: #ff547a;text-decoration: underline; font-weight: 600}
.invalid-feedback a:hover, .invalid-feedback a:focus{color: #1a171b;}

.form-control.is-valid{border-color: #33d611;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2333d611' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");background-color: #eafbe7;}

.datepicker.form-control {color: #1a171b;background-color: #fff;}

.form-select.is-valid:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2333d611' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");border-color: #33d611;background-color: #eafbe7;}
.form-control.is-valid:focus, .form-select.is-valid:focus {border-color: #33d611;  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 4px rgba(51, 214, 171, .25);background-color: #eafbe7;color:#000;}
.form-control.timepicker.is-valid {padding-right: 2.25rem; background-position: right .75rem center,center right -1.25rem;}
.valid-feedback {color:#2cb610;font-size:.925rem}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {background-color:  #5cde8a;border-color: #33d611}
.form-check-input.is-valid:checked ~ .form-check-label {color:#33d611;}

.form-check-input {border-color: #e6e6e6;background-color: #eaeaea;width: 1.25rem;height: 1.25rem;margin-top: .125rem;}
.form-check-input-sm {width: 1rem; height: 1rem}
.form-check-input[type="checkbox"] {border-radius: .25em;}
.form-check-input:checked {background-color: #005d85;border-color: #005d85;}

.form-check-input:focus {box-shadow: none !important;}
.form-check-input-lg {width: 1.5rem;height: 1.5rem;margin-top: .125rem;}
.form-help {cursor:help}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");background-size: 60% 60%;
}

.form-check-input:disabled[type="checkbox"] {background-color: #ced4da;border-color: #ced4da;}

.form-check-input:disabled[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23ffffff'/%3e%3c/svg%3e");
    background-size: 60% 60%;
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: #808080;opacity: 1; /* Firefox */font-size: .925rem}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #808080;}
.form-control::-ms-input-placeholder { /* Microsoft Edge */color: #808080;}


/* Btns
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn-primary {background-color:#00b595;border-color:#00b595;color:#fff!important;}
.btn-primary:hover,.btn-primary:focus {background-color:#00b595e6!important;border-color:#00b595e6!important;outline:none!important;cursor:pointer; text-decoration: none}
.btn-primary:active,.btn-primary.active,.btn-primary.active:focus {background-color:#00b595!important;border-color:#00b595!important;box-shadow:none}
.btn-primary.disabled, .btn-primary:disabled {color: #9b9c9d !important;background-color: #f5f5f5;border-color: #ced4da;opacity: .7}

.btn-secondary {background-color:#fff;border-color:#ced4da;color:#00b595!important}
.btn-secondary:hover,
.btn-secondary:focus {background-color:#00b595e6!important;border-color:#00b595e6!important;color:#fff !important;outline:none!important;cursor:pointer;text-decoration: none}
.btn-secondary:active,.btn-secondary.active,.btn-secondary.active:focus {background-color:#005d85!important;border-color:#005d85!important;box-shadow:none}
.btn-secondary.disabled, .btn-secondary:disabled {color: #9b9c9d !important;background-color: #f5f5f5;border-color: #ced4da;opacity: .7}

.btn.text-bg-danger {background-color: #F6416C!important; border-color:#F6416C; color:#fff !important}
.btn.text-bg-success {background-color: #28C76F!important; border-color:#28C76F;color: #fff !important}

/*.input-group .btn { border-color:#ced4da !important}
.input-group .btn:hover, .input-group .btn:focus  { background-color: #f9f9f9 !important;color:#00b595!important}*/

/*
.btn-check:active + .btn, .btn.active:hover, .btn.active:focus, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: #fff !important;
  background-color: #00b595e6;
  border-color: #ced4da;
}*/

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: #fff !important;
  background-color: #00b595;
  border-color: #ced4da;
}


.btn-sm .feather {width: 1rem;height: 1rem; margin-right: .25rem;opacity: .7}
.rule-card .input-group .btn-secondary .feather, .accordion-body .input-group .btn-secondary .feather {width: 1rem;height: 1rem; margin-right: .25rem;opacity: .7; position: relative; bottom: .15rem}


/* Accordion
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.accordion { border-radius: 0 !important}
.accordion-button, .accordion-item{border-radius: 0 !important}
.accordion-header {background: rgba(245,245,245,.75);}
.accordion-body {border: 1px solid #eaeaea;background-color: rgba(245,245,245,.85);}

/*
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #005d85;
}

accordion-button collapsed{
  color: #fff;
  background-color: #005d85;
}*/

.accordion {
  --bs-accordion-color: #485156;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #2376DD;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23485156'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23485156'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 93, 133, .25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #2376DD;
  --bs-accordion-active-bg:#f5f5f5 ;
}

.accordion-button.collapsed {
  background-color: rgba(245,245,245,.85);color:rgba(72, 81, 86,.5)
}

.accordion-title {font-weight: 700;text-transform: uppercase;font-size: .875rem;letter-spacing: .0125rem;}

.form-section {padding: 1rem 1.25rem;border: 1px solid #eaeaea;background: rgba(245,245,245,.85);margin-bottom: .5rem}
.form-section-title{position: relative;bottom: .5rem;opacity: .5;font-weight: 700;margin-left: .15rem;text-transform: uppercase;font-size: .875rem;letter-spacing: .0125rem;}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.accordion-body,.form-section  {padding: 1.5rem;}
.channel-rules-wrapper{margin-left:6rem}

}


/* Channel color
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.channel-label {display: inline-block; width: 1.15rem; height: 1.15rem; margin-right: .5rem; position: relative; bottom: -.15rem;border-radius: .25rem; background: #f5f5f5} 

/*Price-label*/
.price-label-bg {background-color:#2376DD} 
.price-label-color {color:#2376DD !important}
.form-check-input.price-label:checked {background-color:#2376DD;border-color:#2376DD;}

/*Channel 0*/
.channel-bg-0, .channel-label-0 {background-color:#005d85} 
.channel-color-0 {color:#005d85 !important}
.form-check-input.channel-0:checked {background-color:#005d85;border-color:#005d85;}

/*Channel 1*/
.channel-bg-1, .channel-label-1 {background-color: #1fb9d8} 
.channel-color-1 {color: #1fb9d8 !important}
.form-check-input.channel-1:checked {background-color:#1fb9d8;border-color:#1fb9d8;}

/*Channel 2*/
.channel-bg-2,.channel-label-2 {background-color: #1d8fc0} 
.channel-color-2 {color: #1d8fc0 !important} 
.form-check-input.channel-2:checked {background-color:#1d8fc0;border-color:#1d8fc0;}

/*Channel 3*/
.channel-bg-3,.channel-label-3 {background-color: #00b595} 
.channel-color-3 {color: #00b595 !important} 
.form-check-input.channel-3:checked {background-color:#00b595;border-color:#00b595;}

/*Channel 4*/
.channel-bg-4,.channel-label-4{background-color: #f4a80c} 
.channel-color-4{color: #f4a80c !important} 
.form-check-input.channel-4:checked {background-color:#f4a80c;border-color:#f4a80c;}

 /*Channel 5*/
.channel-bg-5,.channel-label-5 {background-color: #e26a00}
.channel-color-5 {color: #e26a00 !important}
.form-check-input.channel-5:checked {background-color:#e26a00;border-color:#e26a00;}

/*Channel 6*/
.channel-bg-6,.channel-label-6 {background-color: #ff547a} 
.channel-color-6 {color: #ff547a !important} 
.form-check-input.channel-6:checked {background-color:#ff547a;border-color:#ff547a;}

/*Channel 7*/
.channel-bg-7,.channel-label-7 {background-color: #ea1e5f} 
.channel-color-7 {color: #ea1e5f !important} 
.form-check-input.channel-7:checked {background-color:#ea1e5f;border-color:#ea1e5f;}

/*Channel 8*/
.channel-bg-8,.channel-label-8 {background-color: #884ac1}
.channel-color-8 {color: #884ac1 !important}
.form-check-input.channel-8:checked {background-color:#884ac1;border-color:#884ac1;}

/* Rules
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.rule-container .row{margin-bottom: .5rem
}
.rule-container .form-select, .rule-container .form-control{
padding-top: .25rem;
padding-bottom: .25rem;
padding-left: .5rem;
font-size: .875rem;
border-radius: .25rem;}

/* Alerts
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.alert-success {
  background-color: rgba(0, 181, 149, 0.1);
border-color: rgb(0, 93, 133,.2);
    border:none;
  color: #1a171b;
margin-bottom: 0; margin-top: 1rem;
}

.alert-dismissible  {
  padding-top:.5rem; padding-bottom: .5rem;
}

.alert-dismissible .btn-close {
  padding: .75rem 1rem;
}